.new{
	width: 160px;
	height:90px;
	float: left;
	padding-bottom:3px;
}
div {
	border-radius: 5px;
	
}
#header {
	font-family: Calibri;
	font-size: 50px;
	text-align: center;	
}
nav{
	height:50px;
}
nav ul{
	float:left;
}
nav ul li{
	float:left;
	list-style:none;
	position:relative;
}
nav ul li a{
	display:block;
	color:#12aa21;
	font-size:20px;
	padding: 4px 22px;
	text-decoration:none;
    background-color: lightgrey;
}
nav ul li ul{
	display:none;
	position:absolute;
	border-radius: 0px 0px 4px 4px;
}
nav ul li:hover ul{
	display:block;
	
}

nav ul li ul li {
	float:left;
	width: 120px;
	
}
nav ul li ul li a{
	
	padding: 8px 0px;
	
	
}
#menu {
	position: relative;
	height: 60px;
	background-color: lightgrey;
	clear: both;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	text-align: center;
	color: #ffffff;

}
.socialMedia{
	width: 40px;
    height: 40px;
	float:right;
	padding: 10px 8px;
	border-radius:3px;
   
}
#footer{
	position: relative;
	background-color: lightgrey;
	text-align:centre;
	clear: both;
	height:50px;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	
	text-align: center;
	padding:2px;
	color: brown;
	border-radius: 5px;
	
}
#left {
	float: left;
	width: 58%;
	height:auto;
	overflow: hidden;
	padding: 1px 35px 2px 0px;
}
#right{
	height: auto;
	padding: 
	
	
}
.image{
	width:800px;
	height:375px;
	padding-right:5px;
}
#wrapper{
	width:auto;
	height:auto;
}
#div-3{
	width:100%;
	height:auto;
	background-color:lightgrey;
}
#div-3-right{
	width:auto;
	height:auto;
}
#div-3-left{
	width:50%;
	height:auto;
	float:left;
	
}

#left-div3{
	
	height:300px;
	width:auto;
}
#right-div3{
	
	height:150px;
	width:auto;
}


span {
	vertical-align: top;
	display: table-cell;
}
#musos{
	background-color:#CEF6F5;
	height:268px;
}
#aqua{
	width: 30%;
	height:auto;
	float:left;
	background-color:yellow;
	padding-right:5px;
}
#aqua-content{
	height:268px;
}
.aqua-img{
	width: 395px;
	height:255px;
	
	padding:5px 7px 2px 5px;
}